
@{
    ViewBag.Title = "Index";
}

<div class="panel panel-default col-md-4 col-md-offset-4" style="padding:0;">
    <div class="panel-heading" style="text-align:center;"><span>Registruj se</span></div>
    <div class="panel-body">
        <a href="@Url.Action("SenderRegistration","Register")">Korisnik</a>
        <a href="">Prevoznik</a>
    </div>
</div>
<div style="clear:both;"></div>

